<%# app/views/shared/_section_header.html.erb  Locals: label: (String) %>
<div class="sec-head">
  <span class="sec-head-dia" aria-hidden="true">&#9670;</span>
  <span class="sec-head-label"><%= label %></span>
  <span class="sec-head-rule"></span>
</div>
