<% dated_agenda.dated_agenda_items.active.ordered.each do |agenda_item| %>
  <section class="agenda-item">
    <h2 class="agenda-item-title"><%= agenda_item.title %></h2>
    <% if agenda_item.summary.present? %>
      <p class="agenda-item-summary"><%= agenda_item.summary %></p>
    <% end %>
    <div class="agenda-item-body"><%= agenda_item.body %></div>
  </section>
<% end %>
